.repo{
    width:450px; height:400px;
}
.me{
width:98%;height:auto;display: flex; flex-wrap: wrap;justify-content:space-around;align-items:flex-start;flex-flow:wrap;margin:0px 10px;
}
.head{
    display: flex;justify-content: center;text-align: center;
}
.holder{
    height:100px;overflow-y: auto;width:95%
}

.btn{
height:30px;width:fit-content;
}