<mat-toolbar class="head">
    GitHuB API
</mat-toolbar>
<mat-toolbar class="end">
    <button mat-flat-button color='accent'>
        <a routerLink='/user'>
            <mat-icon>search</mat-icon>
        </a>
    </button>
</mat-toolbar>
<mat-card>
    <div fxLayout="row wrap" fxLayoutGap="10px" class="prof">
        <div class="holder">
            <div class="avatar"
                style="background-image: url({{user.avatar_url}});background-size: cover;background-repeat: none;">
            </div>
            <h5>{{user.name}}</h5>
        </div>

        <mat-card class="bio">
            <mat-card-header class="head">
                <mat-card-title>
                    <h1>Bio</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>{{user.bio}}</mat-card-content>
        </mat-card>
        <mat-card class="bio">
            <mat-card-header class="head">
                <mat-card-title>
                    <h1>
                        About
                    </h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Created On :{{user.created_at}} <br>
                Followers: {{user.followers}} <br>
                Following: {{user.following}} <br>
                Available Repositories: {{user.public_repos}}

            </mat-card-content>



        </mat-card>
    </div>
</mat-card>
<div fxLayout="row wrap" fxLayoutGap="10px" class="prof">
    <mat-card class="content" *ngFor='let repo of repoData;'>
        <mat-card-header class="head">
            <mat-card-title>
                {{repo.name}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="bcontent">
            <p>{{repo.description}}</p>
            <p>
                Created on: {{repo.created_at}}<br>
                Last Updated on: {{repo.updated_at}}
            </p>
        </mat-card-content>
        <mat-card-footer class="foot">
            <a href='{{repo.url}}'><button mat-raised-button>Repo Url</button></a>
            <a href='{{repo.clone_url}}'> &nbsp; <button mat-raised-button>Clone</button></a>
        </mat-card-footer>
    </mat-card>
</div>