<mat-toolbar class="toolbar">
    <h1>Search Users</h1>
</mat-toolbar>
<mat-toolbar class="toolbar">
    <form #form='ngForm' (ngSubmit)='getUser(form.value)'>
        <label for="name"></label>
        <input type='text' Placeholder="Enter User name to search" ngModel name="name" class="username" id='name'>
    </form>
</mat-toolbar>
<mat-toolbar>
    <button mat-icon-button color='warn'>
        <a routerLink='/'>
            <mat-icon> arrow_back_ios </mat-icon>
        </a>
    </button>
</mat-toolbar>


<mat-card>
    <div fxLayout="row wrap" fxLayoutGap="10px" class="prof">
        <div class="holder">
            <div class="avatar"
                style="background-image: url({{user.avatar_url}});background-size: cover;background-repeat: none;">
            </div>
            <h5 *ngIf="user.name">{{user.name}}</h5>
            <h5 *ngIf="!user.name">No user !</h5>
        </div>
        <h5></h5>
        <mat-card class="bio">
            <mat-card-header>
                <mat-card-title>
                    <h1>Bio</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content *ngIf='user.bio'>{{user.bio}}</mat-card-content>
            <mat-card-content *ngIf='!user.bio'>No BIO data</mat-card-content>
        </mat-card>
        <mat-card class="bio">
            <mat-card-header>
                <mat-card-title>
                    <h1>
                        About
                    </h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content *ngIf='user.followers'>
                Followers: {{user.followers}} <br>
                Following: {{user.following}} <br>
            </mat-card-content>
            <mat-card-content *ngIf='!user.followers'>
                No Availabe Data!
            </mat-card-content>
        </mat-card>
    </div>
</mat-card>
<div fxLayout="row wrap" fxLayoutGap="10px" class="prof">
    <mat-card class="content" *ngFor='let repo of repoData;'>
        <mat-card-header>
            <mat-card-title>
                {{repo.name}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="bcontent">
            <p>{{repo.description}}</p>
            <p>
                Created on: {{repo.created_at}}<br>
                Last Updated on: {{repo.updated_at}}
            </p>
        </mat-card-content>
        <mat-card-footer class="foot">
            <a href='{{repo.url}}'><button mat-raised-button>Repo Url</button></a>
            <a href='{{repo.clone_url}}'> &nbsp; <button mat-raised-button>Clone</button></a>
        </mat-card-footer>
    </mat-card>
</div>