<mat-card class="prof">
<div class="avatar" style="background-image: url(../../../assets/image/user.jpg);background-size: cover;background-repeat: none;" >
    <h5>Isaiah morara</h5>
</div>
<mat-card class="bio">
    <mat-card-header>
        <mat-card-title><h1>Bio</h1></mat-card-title>
    </mat-card-header>
</mat-card>
<mat-card class="bio">
<mat-card-header>
    <mat-card>
        <mat-card-title>
            <h2>
                About
            </h2>
        </mat-card-title>
    </mat-card>
</mat-card-header>
</mat-card>
</mat-card>
