<mat-card class="prof" *ngIf='profile'>
    <div fxLayout="row wrap" fxLayoutGap="10px">
        <div class="avatar"
            style="background-image: url({{profile.avatar_url}});background-size: cover;background-repeat: none;">
            <h5>{{profile.name}}</h5>
        </div>

        <mat-card class="bio">
            <mat-card-header>
                <mat-card-title>
                    <h1>Bio</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>{{profile.bio}}</mat-card-content>
        </mat-card>
        <mat-card class="bio">
            <mat-card-header>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h1>
                                About
                            </h1>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        Followers:{{profile.followers}} <br>
                        Following:{{profile.following}} <br>
                        Repos: {{profile.public_repos}} <br>
                        Created: {{profile.created_at}} <br>
                        Public_Gist {{profile.public_gists}}
                    </mat-card-content>

                </mat-card>
            </mat-card-header>
        </mat-card>
    </div>
</mat-card>